:8000 {
    root * /var/www/public
    encode gzip
    log
    php_fastcgi 127.0.0.1:9000
    file_server
    @rewrite {
        not file
        path_regexp api .*
    }
    rewrite @rewrite /index.php
    handle_path /health {
        respond 200 {
            body "OK"
        }
    }
}